<div class="lg:max-w-xl mx-auto p-4 sm:p-8 shadow-lg my-4 rounded-md" [ngClass]="{ 'outline outline-2 outline-green-300': buttonText === 'Oops, Un Snap!' }">
  <h2 class="text-lg sm:text-xl md:text-2xl font-bold text-blue-400 text-center">
    {{ faceSnap.title | titlecase }}
  </h2>
  <p class="text-sm text-gray-800 mb-2">
    {{ faceSnap.description }}
  </p>

  <p>
    <button class="py-2.5 px-6 border rounded-lg bg-blue-500 shadow-sm transition-all duration-500 hover:bg-blue-700 hover:shadow-lg" (click)="onViewFaceSnap()">View</button>
  </p>
</div>
